<div class="row chatbox">
  <div class="col-sm-4 user-list">
    <div class="list-group">
      <% if @users.any?() %>
        <% @users.each() do |user| %>
          <a href="#" class="start-conversation list-group-item" value="user.id()"><%= user.username() %></a>
        <% end %>
      <% end %>

    </div>



  </div>
  <div class="col-sm-7 chat-box pull-right">
    <div class="chat-box-content">
      <% if @conversation && @conversation.messages.any?() %>
      <ol>
        <% @conversation.messages.each() do |message| %>
        <li><%= message.body() %></li>
        <% end  %>
      </ol>

      <% else %>
      <p>
        click a name to start chatting
      </p>
      <% end %>

    </div>
  </div>

</div>
