<html>
  <head>
    <title>EpiChatus</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/icon.gif"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>    <script language="JavaScript" src="/js/users.js" type="text/javascript"></script>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
