<!DOCTYPE html>
<html>
  <head>
    <title>EpiChat</title>

    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="<%= javascript_include_tag 'private_pub' %>"></script>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
