<!DOCTYPE html>
<html>
  <head>
    <title>Epichatus</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/icon.gif"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>    <script language="JavaScript" src="/js/users.js" type="text/javascript"></script>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Epichatus</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
