/*
Project Name: Epichat
Client: Ruby Epicodus
Author: Liam Ellis, Aestheke Inc.

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {clear: both;}

@font-face {
  font-family: earth;
  src: url(../earth.ttf);
}
@font-face {
  font-family: future;
  src: url(../future.ttf);
}
@font-face {
  font-family: bira;
  src: url(../bira.ttf);
}
@font-face {
  font-family: better;
  src: url(../better.ttf);
}
body {
  margin: auto;
  display: block;
}
.index_background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
  background: url(../background.jpeg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 105% 100%;
}
.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
}
header {
  width: 100%;
}
nav {
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#user_nav {
  margin-top: 4%;
}
#dashboard {
  font-family: bira;
  font-size: 50px;
  color: white;
  text-align: left;
}
#user_home {
  text-align: right;
}
li {
  display: inline;
  flex-grow: 1;
  font-family: future;
  line-height: 32px;
  font-size: 15px;
  color: white;
  text-align: center;
}
li:hover {
  text-shadow: 1px 1px 1px white;
}
a, a:hover, a:after, a:focus {
  color: inherit;
  text-decoration: none;
}
main {
  position: relative;
  top: 45%;
  display: block;
  margin: auto;
}
.title {
  font-family: earth;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px 1px white;
}
.notice {
  margin: auto;
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 2%;
  left: 0;
  bottom: 200px;
  color: white;
  font-family: future;
}
.login, .signin {
  margin: auto;
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 2%;
  left: 0;
  bottom: 50px;
  color: white;
  font-family: future;
  display: none;
}
.signin {
  bottom: 10px;
}
#log, #sign {
  display: block;
}
#log input, #sign input {
  background-color: transparent;
  border: gray;
  border-bottom: 1px solid white;
}
#log label, #sign label {
  margin: 1%;
}
#signout, .users {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
}
.user_button {
  margin: 2%;
  border: none;
  background-color: transparent;
}
.glyphicon {
  font-size: 25px;
  color: white;
}
.dashboard {
  margin-top: 20%;
}

.dashboard h2 {
  font-family: better;
  color: white;
  font-size: 60px;
}
/*add this on the chat button click*/
/*style li tabs on the bottom of browser for every current chat, facebook style*/
.underline {
  font-style: underline;
}
.profile {
  height: 40px;
  width: 40px;
  margin: 10px;
}

/*****************************************************/
/*chats*/
#chats {
  margin-left: 15px;
  cursor: pointer;
}
.chat_div {
  display: none;
}
.chat_div, .chats {
  width: max-content;
}
.chats {
  margin-left: 30px;
}
.chat {
  display: block;
  font-family: future;
  font-size: 15px;
  text-align: left;
  margin-left: 60px;
}
.chat img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.messages {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  font-family: earth;
  color: white;
}
.arrow{
  font-family: future;
  font-size: 100px;
  line-height: 0;
  display: block;

}
.messages h1 {
  text-shadow: 1px 1px 1px gray;
}
